<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crystal.Reports" version="13.0.15.1840" targetFramework="net45" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net45" />
  <package id="CrystalDecisions.Web" version="1.0.1" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net45" />
</packages>